<!--
<section th:fragment="login">
    <link rel="stylesheet" th:href="@{/css/auth_fragments.css}">

    <div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginLabel">Accedi a Pawpal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/login}" method="post" style="display: contents;">

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Username o password non validi. Riprova.
                        </div>

                        <div th:replace="fragments/generic_fragments :: backend_message"></div>

                        <div>
                            <label class="form-label" for="username">Username:</label>
                            <input class="form-control" type="text" id="username" name="username"
                                placeholder="Inserisci username" required>
                        </div>

                        <div>
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="Inserisci password" required>
                        </div>

                        <button type="submit" class="btn btn-secondary">Accedi</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Non hai un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneClienteModal"
                        data-bs-toggle="modal">Registrati come cliente</button>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneVeterinarioModal"
                        data-bs-toggle="modal">Registrati come veterinario</button>
                </div>

            </div>

        </div>

    </div>

</section>

<section th:fragment="registrazione_cliente">

    <div class="modal fade" id="registrazioneClienteModal" aria-hidden="true"
        aria-labelledby="registrazioneClienteLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registrazioneClienteLabel">Registrazione Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/register_cliente}" method="post" style="display: contents;">

                        <div>
                            <label class="form-label" for="nome_cliente">Nome:</label>
                            <input class="form-control" type="text" id="nome_cliente" name="nome" required>
                        </div>

                        <div>
                            <label class="form-label" for="cognome_cliente">Cognome:</label>
                            <input class="form-control" type="text" id="cognome_cliente" name="cognome" required>
                        </div>

                        <div>
                            <label class="form-label" for="codice_fiscale_cliente">Codice Fiscale:</label>
                            <input class="form-control" type="text" id="codice_fiscale_cliente" name="codiceFiscale" maxlength="16" required>
                        </div>

                        <div>
                            <label class="form-label" for="telefono_cliente">Telefono:</label>
                            <input class="form-control" type="text" id="telefono_cliente" name="telefono" maxlength="10" required>
                        </div>

                        <div>
                            <label class="form-label" for="email_cliente">Email:</label>
                            <input class="form-control" type="email" id="email_cliente" name="email" required>
                        </div>

                        <div>
                            <label class="form-label" for="username_cliente">Username:</label>
                            <input class="form-control" type="text" id="username_cliente" name="username" required>
                        </div>

                        <div>
                            <label class="form-label" for="password_cliente">Password:</label>
                            <input class="form-control" type="password" id="password_cliente" name="password"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="check_password_cliente">Conferma Password:</label>
                            <input class="form-control" type="password" id="check_password_cliente"
                                name="check_password" required>
                        </div>

                        <div id="check_password_error_cliente" class="alert alert-danger" role="alert"
                            style="display: none;">
                            Le password non corrispondono!
                        </div>

                        <input type="hidden" name="ruolo" value="CLIENTE">

                        <button class="btn btn-secondary" type="reset">Reset</button>
                        <button class="btn btn-secondary" type="submit">Registrami</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Hai gi&#224; un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#loginModal" data-bs-toggle="modal">Accedi</button>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneVeterinarioModal" data-bs-toggle="modal">Vuoi registrarti come veterinario?</button>
                </div>

            </div>

        </div>

    </div>

</section>

<section th:fragment="registrazione_veterinario">

    <div class="modal fade" id="registrazioneVeterinarioModal" aria-hidden="true"
        aria-labelledby="registrazioneVeterinarioLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registrazioneVeterinarioLabel">Registrazione Veterinario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/register_veterinario}" method="post" style="display: contents;">

                        <div th:replace="fragments/generic_fragments :: backend_message"></div>

                        <div>
                            <label class="form-label" for="nome_veterinario">Nome:</label>
                            <input class="form-control" type="text" id="nome_veterinario" name="nome" required>
                        </div>

                        <div>
                            <label class="form-label" for="cognome_veterinario">Cognome:</label>
                            <input class="form-control" type="text" id="cognome_veterinario" name="cognome"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="codice_fiscale_veterinario">Codice Fiscale:</label>
                            <input class="form-control" type="text" id="codice_fiscale_veterinario"
                                name="codiceFiscale" maxlength="16" required>
                        </div>

                        <div>
                            <label class="form-label" for="telefono_veterinario">Telefono:</label>
                            <input class="form-control" type="text" id="telefono_veterinario" name="telefono" maxlength="10" required>
                        </div>

                        <div>
                            <label class="form-label" for="email_veterinario">Email:</label>
                            <input class="form-control" type="email" id="email_veterinario" name="email" required>
                        </div>

                        <div>
                            <label class="form-label" for="username_veterinario">Username:</label>
                            <input class="form-control" type="text" id="username_veterinario" name="username"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="password_veterinario">Password:</label>
                            <input class="form-control" type="password" id="password_veterinario" name="password"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="check_password_veterinario">Conferma Password:</label>
                            <input class="form-control" type="password" id="check_password_veterinario"
                                name="check_password" required>
                        </div>

                        <div id="check_password_error_veterinario" class="alert alert-danger" role="alert"
                            style="display: none;">
                            Le password non corrispondono!
                        </div>

                        <div>
                            <label class="form-label" for="specializzazione_veterinario">Specializzazione:</label>
                            <input class="form-control" type="text" id="specializzazione_veterinario"
                                name="specializzazione" required>
                        </div>

                        <div>
                            <label class="form-label">Specie trattate:</label>
                            <div class="btn-group" role="group" aria-label="specie trattate dal veterinario">
                                <div th:each="spec : ${lista_specie}" style="display: contents;">
                                    <input type="checkbox" class="btn-check" name="specie" th:value="${spec.id}"
                                        th:id="'specie_' + ${spec.id}" />
                                    <label class="btn btn-outline-primary" th:for="'specie_' + ${spec.id}">
                                        <span th:text="${spec.nomeSpecie}">Nome Specie</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="form-label">Prestazioni offerte:</label>
                            <div class="btn-group" role="group" aria-label="prestazioni offerte dal veterinario">
                                <div th:each="prest : ${lista_prestazioni}" style="display: contents;">
                                    <input type="checkbox" class="btn-check" name="prestazioni"
                                        th:value="${prest.id}" th:id="'prestazione_' + ${prest.id}" />
                                    <label class="btn btn-outline-primary" th:for="'prestazione_' + ${prest.id}">
                                        <span th:text="${prest.descrizione}">Nome Prestazione</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="form-label" for="indirizzo_studio_veterinario">Indirizzo studio:</label>
                            <input class="form-control" type="text" id="indirizzo_studio_veterinario"
                                name="indirizzoStudio" placeholder="Nome Via n.civico, CAP, Città" required>
                        </div>

                        <div>
                            <label class="form-label" for="iscrizione_albo_veterinario">Numero di iscrizione
                                all&#39;albo:</label>
                            <input class="form-control" type="text" id="iscrizione_albo_veterinario"
                                name="iscrizioneAlbo" placeholder="es. 1234567890" required maxlength="10">
                        </div>

                        <div>
                            <label class="form-label" for="disponibilita_veterinario">Disponibilit&#224;:</label>
                            <input class="form-control" type="text" id="disponibilita_veterinario"
                                name="disponibilita" placeholder="es. Lun-Ven 9:00-18:00" required>
                        </div>

                        <div>
                            <label class="form-label" for="descrizione_veterinario">Descrizione:</label>
                            <textarea class="form-control" name="descrizione" id="descrizione_veterinario"
                                maxlength="140"></textarea>
                        </div>

                        <input type="hidden" name="ruolo" value="VETERINARIO">

                        <button class="btn btn-secondary" type="reset">Reset</button>
                        <button class="btn btn-secondary" type="submit">Registrami</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Hai già un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#loginModal"
                        data-bs-toggle="modal">Accedi</button>
                </div>

            </div>

        </div>

    </div>

</section>
-->
<div th:fragment="login">
    <link rel="stylesheet" th:href="@{/css/auth_fragments.css}">

    <div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginLabel">Accedi a Pawpal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/login}" method="post" style="display: contents;">

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                        <div th:replace="fragments/generic_fragments :: backend_message"></div>

                        <div>
                            <label class="form-label" for="username">Username:</label>
                            <input class="form-control" type="text" id="username" name="username"
                                placeholder="Inserisci username" required>
                        </div>

                        <div>
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="Inserisci password" required>
                        </div>

                        <button type="submit" class="btn btn-secondary">Accedi</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Non hai un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneClienteModal"
                        data-bs-toggle="modal">Registrati come cliente</button>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneVeterinarioModal"
                        data-bs-toggle="modal">Registrati come veterinario</button>
                </div>

            </div>

        </div>

    </div>

</div>

<div th:fragment="registrazione_cliente">

    <div class="modal fade" id="registrazioneClienteModal" aria-hidden="true"
        aria-labelledby="registrazioneClienteLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registrazioneClienteLabel">Registrazione Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/register_cliente}" method="post" style="display: contents;">

                        <div>
                            <label class="form-label" for="nome_cliente">Nome:</label>
                            <input class="form-control" type="text" id="nome_cliente" name="nome" required>
                        </div>

                        <div>
                            <label class="form-label" for="cognome_cliente">Cognome:</label>
                            <input class="form-control" type="text" id="cognome_cliente" name="cognome" required>
                        </div>

                        <div>
                            <label class="form-label" for="codice_fiscale_cliente">Codice Fiscale:</label>
                            <input class="form-control" type="text" id="codice_fiscale_cliente" name="codiceFiscale" maxlength="16" required>
                        </div>

                        <div>
                            <label class="form-label" for="telefono_cliente">Telefono:</label>
                            <input class="form-control" type="text" id="telefono_cliente" name="telefono" maxlength="10" required>
                        </div>

                        <div>
                            <label class="form-label" for="email_cliente">Email:</label>
                            <input class="form-control" type="email" id="email_cliente" name="email" required>
                        </div>

                        <div>
                            <label class="form-label" for="username_cliente">Username:</label>
                            <input class="form-control" type="text" id="username_cliente" name="username" required>
                        </div>

                        <div>
                            <label class="form-label" for="password_cliente">Password:</label>
                            <input class="form-control" type="password" id="password_cliente" name="password"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="check_password_cliente">Conferma Password:</label>
                            <input class="form-control" type="password" id="check_password_cliente"
                                name="check_password" required>
                        </div>

                        <div id="check_password_error_cliente" class="alert alert-danger" role="alert"
                            style="display: none;">
                            Le password non corrispondono!
                        </div>

                        <input type="hidden" name="ruolo" value="CLIENTE">

                        <button class="btn btn-secondary" type="reset">Reset</button>
                        <button class="btn btn-secondary" type="submit">Registrami</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Hai gi&#224; un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#loginModal" data-bs-toggle="modal">Accedi</button>
                    <button class="btn btn-secondary" data-bs-target="#registrazioneVeterinarioModal" data-bs-toggle="modal">Vuoi registrarti come veterinario?</button>
                </div>

            </div>

        </div>

    </div>

</div>

<div th:fragment="registrazione_veterinario">

    <div class="modal fade" id="registrazioneVeterinarioModal" aria-hidden="true"
        aria-labelledby="registrazioneVeterinarioLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registrazioneVeterinarioLabel">Registrazione Veterinario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">
                    <form th:action="@{/auth/register_veterinario}" method="post" style="display: contents;">

                        <div th:replace="fragments/generic_fragments :: backend_message"></div>

                        <div>
                            <label class="form-label" for="nome_veterinario">Nome:</label>
                            <input class="form-control" type="text" id="nome_veterinario" name="nome" required>
                        </div>

                        <div>
                            <label class="form-label" for="cognome_veterinario">Cognome:</label>
                            <input class="form-control" type="text" id="cognome_veterinario" name="cognome"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="codice_fiscale_veterinario">Codice Fiscale:</label>
                            <input class="form-control" type="text" id="codice_fiscale_veterinario"
                                name="codiceFiscale" maxlength="16" required>
                        </div>

                        <div>
                            <label class="form-label" for="telefono_veterinario">Telefono:</label>
                            <input class="form-control" type="text" id="telefono_veterinario" name="telefono" maxlength="10" required>
                        </div>

                        <div>
                            <label class="form-label" for="email_veterinario">Email:</label>
                            <input class="form-control" type="email" id="email_veterinario" name="email" required>
                        </div>

                        <div>
                            <label class="form-label" for="username_veterinario">Username:</label>
                            <input class="form-control" type="text" id="username_veterinario" name="username"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="password_veterinario">Password:</label>
                            <input class="form-control" type="password" id="password_veterinario" name="password"
                                required>
                        </div>

                        <div>
                            <label class="form-label" for="check_password_veterinario">Conferma Password:</label>
                            <input class="form-control" type="password" id="check_password_veterinario"
                                name="check_password" required>
                        </div>

                        <div id="check_password_error_veterinario" class="alert alert-danger" role="alert"
                            style="display: none;">
                            Le password non corrispondono!
                        </div>

                        <div>
                            <label class="form-label" for="specializzazione_veterinario">Specializzazione:</label>
                            <input class="form-control" type="text" id="specializzazione_veterinario"
                                name="specializzazione" required>
                        </div>

                        <button class="nav-link btn btn-link btn-primary text-decoration-none w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#specie_submenu" aria-expanded="false" aria-controls="specie_submenu">
                            Specie Trattate
                        </button>

                        <div class="collapse" id="specie_submenu">
                            <div class="btn-group" role="group" aria-label="specie trattate dal veterinario">
                                <div th:each="spec : ${lista_specie}" style="display: contents;">
                                    <input type="checkbox" class="btn-check" name="specie" th:value="${spec.id}"
                                        th:id="'specie_' + ${spec.id}" />
                                    <label class="btn btn-outline-primary" th:for="'specie_' + ${spec.id}">
                                        <span th:text="${spec.nomeSpecie}">Nome Specie</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button class="nav-link btn btn-link btn-primary text-decoration-none w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#prestazioni_submenu" aria-expanded="false" aria-controls="prestazioni_submenu">
                            Prestazioni Trattate
                        </button>

                        <div class="collapse" id="prestazioni_submenu">
                            <div class="btn-group" role="group" aria-label="prestazioni offerte dal veterinario">
                                <div th:each="prest : ${lista_prestazioni}" style="display: contents;">
                                    <input type="checkbox" class="btn-check" name="prestazioni"
                                        th:value="${prest.id}" th:id="'prestazione_' + ${prest.id}" />
                                    <label class="btn btn-outline-primary" th:for="'prestazione_' + ${prest.id}">
                                        <span th:text="${prest.descrizione}">Nome Prestazione</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="form-label" for="indirizzo_studio_veterinario">Indirizzo studio:</label>
                            <input class="form-control" type="text" id="indirizzo_studio_veterinario"
                                name="indirizzoStudio" placeholder="Nome Via n.civico, CAP, Città" required>
                        </div>

                        <div>
                            <label class="form-label" for="iscrizione_albo_veterinario">Numero di iscrizione
                                all&#39;albo:</label>
                            <input class="form-control" type="text" id="iscrizione_albo_veterinario"
                                name="iscrizioneAlbo" placeholder="es. 1234567890" required maxlength="10">
                        </div>

                        <div>
                            <label class="form-label" for="disponibilita_veterinario">Disponibilit&#224;:</label>
                            <input class="form-control" type="text" id="disponibilita_veterinario"
                                name="disponibilita" placeholder="es. Lun-Ven 9:00-18:00" required>
                        </div>

                        <div>
                            <label class="form-label" for="descrizione_veterinario">Descrizione:</label>
                            <textarea class="form-control" name="descrizione" id="descrizione_veterinario"
                                maxlength="140"></textarea>
                        </div>

                        <input type="hidden" name="ruolo" value="VETERINARIO">

                        <button class="btn btn-secondary" type="reset">Reset</button>
                        <button class="btn btn-secondary" type="submit">Registrami</button>

                    </form>
                </div>

                <div class="modal-footer">
                    <h4>Hai già un account?</h4>
                    <button class="btn btn-secondary" data-bs-target="#loginModal"
                        data-bs-toggle="modal">Accedi</button>
                </div>

            </div>

        </div>

    </div>

</div>