<!-- HEADER DASHBOARD -->
<header th:fragment="dashboard-sidebar">
    <link rel="stylesheet" th:href="@{/css/dashboard_fragments.css}">

    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded", () => {

            function apriSezione(...nomiSezioni) {
                const sezioneAperta = document.getElementById(nomiSezioni[0]);
                if(sezioneAperta) {
                    sezioneAperta.style.display = "flex";
                    sezioneAperta.dispatchEvent(showEvent);
                }
                for(let i = 1; i < nomiSezioni.length; i++) {
                    const sezioneChiusa = document.getElementById(nomiSezioni[i]);
                    if(sezioneChiusa) {
                        sezioneChiusa.style.display = "none";
                        sezioneChiusa.dispatchEvent(hiddenEvent);
                    }
                }
            }

            showCallbacks["modifica_dati"] = apriSezione;
            showCallbacks["appuntamenti"] = apriSezione;
            showCallbacks["recensioni"] = apriSezione;
            showCallbacks["linee_guida"] = apriSezione;

        });

    </script>


    <nav id="dashboard-sidebar" class="nav flex-column border p-2 bg-light vh-100 position-fixed top-0 start-0"
        style="width: 200px;">

        <ul class="navbar-nav">

            <li class="nav-item">

                <button class="nav-link btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#profilo_submenu" aria-expanded="false" aria-controls="profilo_submenu">
                    Profilo
                </button>

                <div class="collapse" id="profilo_submenu">
                    <div class="card card-body p-0 border-0">

                        <button
                            onclick="showCallbacks['modifica_dati']('modifica_dati', 'appuntamenti', 'recensioni', 'linee_guida');"
                            class="btn btn-secondary"
                            th:classappend="${active} == 'profilo' ? ' active' : ''"
                        >
                            Modifica dati
                        </button>

                        <button
                            class="btn btn-secondary"
                            data-bs-target="#modal-email"
                            data-bs-toggle="modal"
                        >
                            Cambia email
                        </button>

                        <button
                            class="btn btn-secondary"
                            data-bs-target="#modal-username"
                            data-bs-toggle="modal"
                        >
                            Cambia username
                        </button>

                        <button
                            class="btn btn-secondary"
                            data-bs-target="#modal-password"
                            data-bs-toggle="modal"
                        >
                            Cambia password
                        </button>
                    </div>
                </div>

            </li>

            <li class="nav-item">
                <button onclick="showCallbacks['appuntamenti']('appuntamenti', 'modifica_dati', 'recensioni', 'linee_guida')" class="btn btn-secondary"
                    th:classappend="${active} == 'appuntamenti' ? ' active' : ''">Appuntamenti</a>
            </li>

            <li class="nav-item">
                <button onclick="showCallbacks['recensioni']('recensioni', 'appuntamenti', 'modifica_dati', 'linee_guida')" class="btn btn-secondary"
                    th:classappend="${active} == 'recensioni' ? ' active' : ''">Recensioni</a>
            </li>

            <li class="nav-item" th:if="${#authentication.authorities.![authority].contains('ROLE_VETERINARIO')}">
                <button onclick="showCallbacks['linee_guida']('linee_guida', 'recensioni', 'appuntamenti', 'modifica_dati')" class="btn btn-secondary"
                    th:classappend="${active} == 'linee_guida' ? ' active' : ''">Linee guida</a>
            </li>

        </ul>

    </nav>

</header>

<div th:fragment="modifica_conto(nome_campo, verifica_vecchio)">

    <div class="modal fade" th:id="${'modal-' + nome_campo}" aria-hidden="true"
        th:aria-labelledby="${'label-' + nome_campo}" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="${'label-' + nome_campo}" th:text="|Modifica ${nome_campo}|">
                        Modifica campo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body text-center">

                    <form th:action="@{/dash/profilo/modifica_} + ${nome_campo}" method="post">

                        <div class="col-12">
                            <fieldset>
                                <div th:replace="fragments/generic_fragments :: error_message"></div>

                                <div th:if="${verifica_vecchio} == 'true'">
                                    <label class="form-label" th:for="${'current_' + nome_campo}"
                                        th:text="|Inserire ${nome_campo} corrente:|">Inserire campo corrente</label>
                                    <input class="form-control" th:id="${'current_' + nome_campo}"
                                        th:name="${'current_' + nome_campo}"
                                        th:type="${nome_campo == 'password' ? 'password' : (nome_campo == 'email' ? 'email' : 'text')}"
                                        required>
                                </div>

                                <div>
                                    <label class="form-label" th:for="${'new_' + nome_campo}"
                                        th:text="|Inserire ${nome_campo}:|">Inserire campo</label>
                                    <input class="form-control" th:id="${'new_' + nome_campo}"
                                        th:name="${'new_' + nome_campo}"
                                        th:type="${nome_campo == 'password' ? 'password' : (nome_campo == 'email' ? 'email' : 'text')}"
                                        th:value="${verifica_vecchio == 'true' ? '' : user[nome_campo]}" required>
                                </div>

                                <label class="form-label"
                                    th:for="${'confirm_' + (verifica_vecchio == 'true' ? nome_campo : 'password')}"
                                    th:text="${verifica_vecchio == 'true' ? ('Confermare ' + nome_campo + ':') : 'Inserire password corrente:'}">
                                    Confermare campo
                                </label>
                                <input class="form-control"
                                    th:id="${'confirm_' + (verifica_vecchio == 'true' ? nome_campo : 'password')}"
                                    th:name="${'confirm_' + (verifica_vecchio == 'true' ? nome_campo : 'password')}"
                                    th:type="${verifica_vecchio == 'true' ? (nome_campo == 'password' ? 'password' : (nome_campo == 'email' ? 'email' : 'text')) : 'password'}"
                                    required>

                                <button class="btn btn-secondary" type="submit" th:text="Aggiorna"></button>
                            </fieldset>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>