<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <title th:text="${title}">PawPal</title>
    <link rel="stylesheet" th:href="@{/css/fragments.css}">

    <!-- BOOTSTRAP -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
    >
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->

    <script>
        var showCallbacks = {};
        var showEvent = new Event('show.element');
        var hiddenEvent = new Event('hidden.element');

        var modalShowCallback = (modalElementId) => {
            const modalElement = document.getElementById(modalElementId);
            if (modalElement && typeof bootstrap !== 'undefined' && bootstrap.Modal) {
                const modalInstance = bootstrap.Modal.getOrCreateInstance(modalElement);
                modalInstance.show();
            }
        };
    </script>

    <!-- SCRIPT TO OPEN MODALS ON REDIRECT -->
    <script th:inline="javascript" defer>
        document.addEventListener("DOMContentLoaded", () => {
            const fullHash = window.location.hash;
            const elementIds = fullHash.substring(1).split('#');
            elementIds.forEach((elementId) => {
                if(elementId && showCallbacks[elementId])
                    showCallbacks[elementId](elementId);
            });
        });
    </script>
    <!-- SCRIPT TO OPEN MODALS ON REDIRECT -->

    <!-- SCRIPT TO CHANGE URL WHEN OPENING/CLOSING MODALS -->
    <script th:inline="javascript" defer>

        var updateUrl = (element, showEvent, hideEvent, originalFullUrl, currentHash, hideCallback, raceConditionChecker) => {
            element.addEventListener(showEvent, function () {
                const elementId = this.getAttribute('id');
                history.pushState(null, '', originalFullUrl + "#" + elementId);
            });

            element.addEventListener(hideEvent, function () {
                // accounts for browser race conditions in fast event firing
                if(raceConditionChecker) {
                    setTimeout(() => {
                        if (raceConditionChecker()) {
                            history.pushState(null, '', originalFullUrl);
                        }
                    }, 50);
                } else history.pushState(null, '', originalFullUrl);
            });
            
            if(hideCallback) {
                window.addEventListener('popstate', function() {
                    const elementId = element.getAttribute('id');
                    if (currentHash !== elementId) hideCallback(element);
                });
            }
        };

        document.addEventListener("DOMContentLoaded", () => {

            // base url, without hash
            let originalFullUrl = window.location.pathname + window.location.search;
            const elementIds = window.location.hash.substring(1).split('#');

            elementIds.forEach((elementId) => {

                if(elementId && showCallbacks[elementId])
                    showCallbacks[elementId](elementId);

                document.querySelectorAll('.modal').forEach((modalElement) => {

                    updateUrl(
                        modalElement,
                        'show.bs.modal',
                        'hidden.bs.modal',
                        originalFullUrl,
                        elementId,
                        (modalElement) => {
                            const modalInstance = bootstrap.Modal.getInstance(modalElement);
                            if (modalInstance && modalElement.classList.contains('show'))
                                modalInstance.hide();
                        },
                        () => document.querySelectorAll('.modal.show').length <= 0
                    );

                });

                document.querySelectorAll('.showable').forEach((showableElement) => {
                    updateUrl(
                        showableElement,
                        'show.element',
                        'hidden.element',
                        originalFullUrl,
                        elementId
                    );
                });

            });

        });

    </script>
    <!-- SCRIPT TO CHANGE URL WHEN OPENING/CLOSING MODALS -->

</head>

<!-- HEADER -->
<header th:fragment="navbar(active)">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">

            <!-- LOGO -->
            <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/}">
                <img width="250x" height="250px" th:src="@{/img/logopawpal.svg}" alt="PawPal Logo" class="logo-img">
            </a>

            <!-- BOTTONE COLLAPSE -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <!-- LINK A SINISTRA -->

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"
                            th:classappend="${active} == 'home' ? ' active' : ''">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/veterinari/lista_veterinari}"
                            th:classappend="${active} == 'lista_veterinari' ? ' active' : ''">Veterinari</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contatti}"
                            th:classappend="${active} == 'contatti' ? ' active' : ''">Contatti</a>
                    </li>

                </ul>

                <!-- LINK A DESTRA -->

                <ul class="navbar-nav ms-auto">

                    <!-- <ANONIMO> -->
                    <div sec:authorize="isAnonymous()" style="display: contents;">

                        <li class="nav-item">
                            <button class="btn btn-secondary" data-bs-target="#loginModal"
                                data-bs-toggle="modal">Login</button>
                        </li>

                        <li class="nav-item">
                            <button class="btn btn-secondary" data-bs-target="#registrazioneClienteModal" data-bs-toggle="modal">Registrati</button>
                        </li>

                    

                    </div>
                    <!-- </ANONIMO> -->

                    <!-- <CLIENTE-VETERINARIO> -->
                    <div sec:authorize="hasAnyRole('CLIENTE','VETERINARIO')" style="display: contents;">

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span th:text="${#authentication.name}">Utente</span>
                            </a>

                            <ul class="dropdown-menu">

                                <li>
                                    <p class="dropdown-item">
                                        <span
                                            th:if="${#authorization.expression('hasRole(''CLIENTE'')')}"><strong><em>Cliente</em></strong></span>
                                        <span
                                            th:if="${#authorization.expression('hasRole(''VETERINARIO'')')}"><strong><em>Veterinario</em></strong></span>
                                    </p>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/dash/profilo}">Profilo</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/dash/appuntamenti}">Appuntamenti</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/dash/recensioni}">Recensioni</a>
                                </li>

                                <li th:if="${#authorization.expression('hasRole(''VETERINARIO'')')}">
                                    <a class="dropdown-item" th:href="@{/dash/linee_guida}">Linee guida</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <form id="navbar_logout_form" th:action="@{/logout}" method="post"
                                        style="display: contents;">
                                        <a class="dropdown-item" href="#"
                                            onclick="document.getElementById('navbar_logout_form').submit()">Logout</a>
                                    </form>
                                </li>

                            </ul>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/dash}" th:classappend="${active} == 'dashboard' ? ' active' : ''">Dashboard</a>
                        </li>

                    </div>
                    <!-- </CLIENTE-VETERINARIO> -->

                    <!-- <ADMIN> -->
                    <div sec:authorize="hasRole('ADMIN')" style="display: contents;">

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span th:text="${#authentication.name}">Admin</span>
                            </a>

                            <ul class="dropdown-menu">

                                <li>
                                    <p class="dropdown-item">
                                        <span><strong><em>Admin</em></strong></span>
                                    </p>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/admin/utenti}">Utenti</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/admin/prestazioni}">Prestazioni</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" th:href="@{/admin/specie}">Specie</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <form id="navbar_logout_form" th:action="@{/logout}" method="post"
                                        style="display: contents;">
                                        <a class="dropdown-item" href="#"
                                            onclick="document.getElementById('navbar_logout_form').submit()">Logout</a>
                                    </form>
                                </li>

                            </ul>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Dashboard</a>
                        </li>

                    </div>
                    <!-- </ADMIN> -->

                </ul>

            </div>

        </div>

    </nav>

</header>

<footer th:fragment="footer">

    <div class="footer text-center">
        <p>&copy; 2025 PawPal. Tutti i diritti riservati.</p>
    </div>

</footer>

<div th:fragment="success_message">

    <div
        th:if="${successMessage != null and successMessage.length() > 0}"
        th:text="${successMessage}"
        class="alert alert-success"
        role="alert"
    ></div>

</div>

<div th:fragment="error_message">

    <div
        th:if="${errorMessage != null and errorMessage.length() > 0}"
        th:text="${errorMessage}"
        class="alert alert-danger"
        role="alert"
    ></div>

</div>

</html>