<section th:fragment="ricerca_veterinari">

    <div class="container">

        <div class="row">

            <div class="col-12 text-center">
                <h2>Trova il veterinario più adatto alle tue esigenze vicino a te</h2>
            </div>

        </div>

        <form th:action="@{/veterinari/lista_veterinari/filtra}" method="post" style="display: contents;">

            <div class="row">

                <div class="col-2"></div>

                <div class="col-4 text-center">
                    <label class="form-label" for="filtroNome">Nome</label>
                    <input
                        class="form-control"
                        type="text"
                        name="filtroNome"
                        id="filtroNome"
                        th:value="${filtroNome}"
                        placeholder="Marco"
                    />
                </div>

                <div class="col-4 text-center">
                    <label class="form-label" for="filtroCognome">Cognome</label>
                    <input
                        class="form-control"
                        type="text"
                        name="filtroCognome"
                        id="filtroCognome"
                        th:value="${filtroCognome}"
                        placeholder="Rossi"
                    />
                </div>

                <div class="col-2"></div>

            </div>

            <div class="row">

                <div class="col-2"></div>

                <div class="col-8 text-center">
                    <label class="form-label" for="filtroCitta">Città</label>
                    <input
                        class="form-control"
                        list="city-suggestions"
                        name="filtroCitta"
                        id="filtroCitta"
                        placeholder="Roma"
                        th:value="${filtroCitta}"
                    >
                    <datalist id="city-suggestions">
                        <option value="agrigento">Agrigento</option>
                        <option value="alessandria">Alessandria</option>
                        <option value="ancona">Ancona</option>
                        <option value="aosta">Aosta</option>
                        <option value="arezzo">Arezzo</option>
                        <option value="ascoli piceno">Ascoli Piceno</option>
                        <option value="asti">Asti</option>
                        <option value="avellino">Avellino</option>
                        <option value="bari">Bari</option>
                        <option value="barletta-andria-trani">Barletta-Andria-Trani</option>
                        <option value="belluno">Belluno</option>
                        <option value="benevento">Benevento</option>
                        <option value="bergamo">Bergamo</option>
                        <option value="biella">Biella</option>
                        <option value="bologna">Bologna</option>
                        <option value="bolzano">Bolzano</option>
                        <option value="brescia">Brescia</option>
                        <option value="brindisi">Brindisi</option>
                        <option value="cagliari">Cagliari</option>
                        <option value="caltanissetta">Caltanissetta</option>
                        <option value="campobasso">Campobasso</option>
                        <option value="caserta">Caserta</option>
                        <option value="catania">Catania</option>
                        <option value="catanzaro">Catanzaro</option>
                        <option value="chieti">Chieti</option>
                        <option value="como">Como</option>
                        <option value="cosenza">Cosenza</option>
                        <option value="cremona">Cremona</option>
                        <option value="crotone">Crotone</option>
                        <option value="cuneo">Cuneo</option>
                        <option value="enna">Enna</option>
                        <option value="fermo">Fermo</option>
                        <option value="ferrara">Ferrara</option>
                        <option value="firenze">Firenze</option>
                        <option value="foggia">Foggia</option>
                        <option value="forlì-cesena">Forlì-Cesena</option>
                        <option value="frosinone">Frosinone</option>
                        <option value="genova">Genova</option>
                        <option value="gorizia">Gorizia</option>
                        <option value="grosseto">Grosseto</option>
                        <option value="imperia">Imperia</option>
                        <option value="isernia">Isernia</option>
                        <option value="l'aquila">L'Aquila</option>
                        <option value="la spezia">La Spezia</option>
                        <option value="latina">Latina</option>
                        <option value="lecce">Lecce</option>
                        <option value="lecco">Lecco</option>
                        <option value="livorno">Livorno</option>
                        <option value="lodi">Lodi</option>
                        <option value="lucca">Lucca</option>
                        <option value="macerata">Macerata</option>
                        <option value="mantova">Mantova</option>
                        <option value="massa-carrara">Massa-Carrara</option>
                        <option value="matera">Matera</option>
                        <option value="messina">Messina</option>
                        <option value="milano">Milano</option>
                        <option value="modena">Modena</option>
                        <option value="monza e della brianza">Monza e della Brianza</option>
                        <option value="napoli">Napoli</option>
                        <option value="novara">Novara</option>
                        <option value="nuoro">Nuoro</option>
                        <option value="oristano">Oristano</option>
                        <option value="padova">Padova</option>
                        <option value="palermo">Palermo</option>
                        <option value="parma">Parma</option>
                        <option value="pavia">Pavia</option>
                        <option value="perugia">Perugia</option>
                        <option value="pesaro e urbino">Pesaro e Urbino</option>
                        <option value="pescara">Pescara</option>
                        <option value="piacenza">Piacenza</option>
                        <option value="pisa">Pisa</option>
                        <option value="pistoia">Pistoia</option>
                        <option value="pordenone">Pordenone</option>
                        <option value="potenza">Potenza</option>
                        <option value="prato">Prato</option>
                        <option value="ragusa">Ragusa</option>
                        <option value="ravenna">Ravenna</option>
                        <option value="reggio calabria">Reggio Calabria</option>
                        <option value="reggio emilia">Reggio Emilia</option>
                        <option value="rieti">Rieti</option>
                        <option value="rimini">Rimini</option>
                        <option value="roma">Roma</option>
                        <option value="rovigo">Rovigo</option>
                        <option value="salerno">Salerno</option>
                        <option value="sassari">Sassari</option>
                        <option value="savona">Savona</option>
                        <option value="siena">Siena</option>
                        <option value="siracusa">Siracusa</option>
                        <option value="sondrio">Sondrio</option>
                        <option value="sud sardegna">Sud Sardegna</option>
                        <option value="taranto">Taranto</option>
                        <option value="teramo">Teramo</option>
                        <option value="terni">Terni</option>
                        <option value="torino">Torino</option>
                        <option value="trapani">Trapani</option>
                        <option value="trento">Trento</option>
                        <option value="treviso">Treviso</option>
                        <option value="trieste">Trieste</option>
                        <option value="udine">Udine</option>
                        <option value="varese">Varese</option>
                        <option value="venezia">Venezia</option>
                        <option value="verbano-cusio-ossola">Verbano-Cusio-Ossola</option>
                        <option value="vercelli">Vercelli</option>
                        <option value="verona">Verona</option>
                        <option value="vibo valentia">Vibo Valentia</option>
                        <option value="vicenza">Vicenza</option>
                        <option value="viterbo">Viterbo</option>
                    </datalist>
                </div>

                <div class="col-2"></div>

            </div>

            <div class="row">

                <div class="col-2"></div>

                <div class="col-8 text-center">
                    <label class="form-label" for="filtroPrestazione">Prestazione</label>
                    <select class="form-select" id="filtroPrestazione" name="filtroPrestazione">
                        <option value="" selected>-- Seleziona --</option>
                        <option
                            th:each="prestazione : ${lista_prestazioni}"
                            th:value="${prestazione.id}"
                            th:text="${prestazione.descrizione}"
                            th:selected="${filtroPrestazione == prestazione.id}"
                        ></option>
                    </select>
                </div>

                <div class="col-2"></div>

            </div>

            <div class="row">

                <div class="col-2"></div>

                <div class="col-8 text-center">
                    <label class="form-label" for="filtroSpecie">Animale</label>
                    <select class="form-select" id="filtroSpecie" name="filtroSpecie">
                        <option value="" selected>-- Seleziona --</option>
                        <option
                            th:each="specie : ${lista_specie}"
                            th:value="${specie.id}"
                            th:text="${specie.nomeSpecie}"
                            th:selected="${filtroSpecie == specie.id}"
                        ></option>
                    </select>
                </div>

                <div class="col-2"></div>

            </div>

            <div class="row">

                <div class="col-4"></div>

                <div class="col-4 text-center">
                    <button class="btn btn-outline-primary" type="submit">Cerca</button>
                </div>

                <div class="col-4"></div>

            </div>

        </form>

    </div>

</section>

<section th:fragment="card_veterinario">

    <div class="modal fade" id="cardVeterinarioModal" aria-hidden="true"
        aria-labelledby="cardVeterinarioLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered modal-lg"> <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registrazioneVeterinarioLabel">Profilo Veterinario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" style="text-align: left;">
                    <h3 class="mb-4">Dettagli</h3>

                    <div>
                        <label class="form-label" for="specializzazione_veterinario">Specializzazione: </label>
                        <p class="form-control profilo-testo" id="specializzazione_veterinario"></p>
                    </div>

                    <div>
                        <label class="form-label" for="specie_veterinario">Specie trattate: </label>
                        <p class="form-control profilo-testo" id="specie_veterinario"></p>
                    </div>

                    <div>
                        <label class="form-label" for="prestazioni_veterinario">Prestazioni offerte: </label>
                        <p class="form-control profilo-testo" id="prestazioni_veterinario"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="iscrizione_albo_veterinario">Iscrizione Albo: </label>
                        <p class="form-control profilo-testo" id="iscrizione_albo_veterinario"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="descrizione_veterinario">Descrizione: </label>
                        <p class="form-control profilo-testo" id="descrizione_veterinario" style="min-height: 100px;"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="disponibilita_veterinario">Disponibilità: </label>
                        <p class="form-control profilo-testo" id="disponibilita_veterinario"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="indirizzo_studio_veterinario">Indirizzo: </label>
                        <p class="form-control profilo-testo" id="indirizzo_studio_veterinario"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="telefono_veterinario">Telefono: </label>
                        <p class="form-control profilo-testo" id="telefono_veterinario"></p>
                    </div>
                
                    <div>
                        <label class="form-label" for="email_veterinario">Email: </label>
                        <p class="form-control profilo-testo" id="email_veterinario"></p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section th:fragment="modale_appuntamento_veterinario">

    <div class="modal fade" id="appuntamentoVeterinarioModal" aria-hidden="true"
        aria-labelledby="appuntamentoVeterinarioLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered modal-lg"> <div class="modal-content">

                <div class="modal-header">
                    <div class="mt-4">
                        <h3 sec:authorize="hasRole('CLIENTE')" class="mb-3" id="appuntamentoVeterinarioLabel">Richiedi un appuntamento</h3>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" style="text-align: left;">

                    <div sec:authorize="isAuthenticated()" class="mt-4">
                        <form th:action="@{/veterinari/inserisci_appuntamento}" method="post">
                            <input type="hidden" name="idVeterinario">
                            <input type="hidden" name="idCliente" th:value="${#authentication.principal.id}">

                            <div class="mb-3">
                                <label for="dataOra" class="form-label">Data e Ora</label>
                                <input type="datetime-local" class="form-control" id="dataOra" name="dataOra" required>
                            </div>
                            <div class="mb-3">
                                <label for="note" class="form-label">Note</label>
                                <textarea class="form-control" id="note" name="note" rows="3" placeholder="Scrivi qui eventuali note..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Richiedi Appuntamento</button>
                        </form>
                    </div>

                    <div sec:authorize="isAnonymous()" class="alert alert-info mt-4" role="alert">
                        Effettua il <a href="#" data-bs-target="#loginModal" data-bs-toggle="modal">login</a> o <a href="#" data-bs-target="#registrazioneClienteModal" data-bs-toggle="modal">registrati</a> per prenotare un appuntamento o lasciare una recensione.
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section th:fragment="modale_recensione_veterinario">

    <div class="modal fade" id="recensioneVeterinarioModal" aria-hidden="true"
        aria-labelledby="recensioneVeterinarioLabel" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered modal-lg"> <div class="modal-content">

                <div class="modal-header">
                    <div class="mt-4">
                        <h3 class="mb-3" id="recensioneVeterinarioLabel">Recensioni</h3>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" style="text-align: left;">

                    <div class="mt-4">
                        <h3 class="mb-3">Recensioni</h3>
                        <ul id="recensioni-list" class="list-unstyled"></ul>
                    </div>
                    
                    <hr>

                    <div sec:authorize="hasRole('CLIENTE')" class="mt-4">
                        <h3 class="mb-3">Lascia una recensione</h3>
                        <form th:action="@{/veterinari/inserisci_recensione}" method="post">
                            <input type="hidden" name="idVeterinario">
                            <input type="hidden" name="idCliente" th:value="${#authentication.principal.id}">

                            <div class="mb-3">
                                <label for="votoRecensione" class="form-label">Voto (da 1 a 5)</label>
                                <input type="number" class="form-control" id="votoRecensione" name="voto" min="1" max="5" required>
                            </div>
                            <div class="mb-3">
                                <label for="commentoRecensione" class="form-label">Commento</label>
                                <textarea class="form-control" id="commentoRecensione" name="commento" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Invia Recensione</button>
                        </form>
                    </div>

                    <div sec:authorize="isAnonymous()" class="alert alert-info mt-4" role="alert">
                        Effettua il <a href="#" data-bs-target="#loginModal" data-bs-toggle="modal">login</a> o <a href="#" data-bs-target="#registrazioneClienteModal" data-bs-toggle="modal">registrati</a> per prenotare un appuntamento o lasciare una recensione.
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>