.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    padding: 60px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

section h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

section h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #666;
    text-align: center;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
}

section[id^="carousel-"] h2 {
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: nowrap;
}

.card {
    min-width: 280px;
    max-width: 320px;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-6px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    padding: 1rem;
}

.card-body h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 15px;
    color: #555;
}

.btn-primary {
    background-color: #2563eb;
    border: none;
}

.btn-primary:hover {
    background-color: #1d4ed8;
}


form .form-label {
    font-weight: 500;
}

form .form-select,
form .form-control {
    margin-bottom: 15px;
}

form button {
    margin-top: 10px;
}


.modal-content {
    padding: 20px;
}

.modal-header h1 {
    font-size: 20px;
    font-weight: 600;
}

.modal-body .form-control {
    margin-bottom: 15px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.home-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45pt;
    font-weight: 500;
    text-shadow: 3px 3px #b0867b;
}

.home-subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 500;
    text-shadow: 2px 2px #b0867b;
}