/* FRAGMENTS */

.active {
    /* stilizza il link selezionato */
}

.user-section {
    /* stilizza le navbar per gli utenti */
}

.user-dropdown {
    /* stilizza i menu a tendina */
}

.user-button {
    /* stilizza i bottoni dei menu utenti */
}

.dashboard-link {
    /* stilizza i tag <a> della dashboard */
}

/* HOMEPAGE */

.banner {
    /* stilizza i banner */
}

.form-group {
    /* stilizza i campi dei form */
}

.card {
    /* stilizza le card */
}

/* REGISTER_* */

.auth-form {
    /* stilizza i form di registrazione */
}