<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="generic_fragments :: head('Cerca Veterinari - PawPal')"></head>

<body>
    <header th:replace="generic_fragments :: header('lista_veterinari')"></header>
    <link rel="stylesheet" th:href="@{/css/veterinari_fragments.css}">
    <main class="main container">
        <h1>Ricerca Veterinari</h1>

        <form th:action="@{/lista_veterinari}" method="get" class="filtri-form">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${nomeFiltro}">

            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" name="cognome" th:value="${cognomeFiltro}">

            <label for="prestazione">Prestazione:</label>
            <select name="prestazione" id="prestazione">
                <option value="">Tutte</option>
                <option th:each="p : ${prestazioniDisponibili}" th:value="${p}" th:text="${p}"></option>
            </select>

            <label for="specie">Specie:</label>
            <select name="specie" id="specie">
                <option value="">Tutte</option>
                <option th:each="s : ${specieDisponibili}" th:value="${s}" th:text="${s}"></option>
            </select>

            <label for="citta">Città:</label>
            <select name="citta" id="citta">
                <option value="">Tutte</option>
                <option th:each="c : ${cittaDisponibili}" th:value="${c}" th:text="${c}"></option>
            </select>

            <button type="submit" class="btn">Filtra</button>
        </form>


        <table class="veterinari-table">
            <thead>
                <tr>
                    <th>Prestazione</th>
                    <th>Specie</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Città</th>
                    <th>Profilo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vet : ${veterinari}">
                    <td th:text="${vet.prestazione}"></td>
                    <td th:text="${vet.specie}"></td>
                    <td th:text="${vet.nome}"></td>
                    <td th:text="${vet.cognome}"></td>
                    <td th:text="${vet.citta}"></td>
                    <td><a th:href="@{/dash/profilo}">Visualizza</a></td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer th:replace="generic_fragments :: footer"></footer>
</body>

</html>