<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/auth_fragments.css}">
<link rel="stylesheet" th:href="@{/css/veterinari.css}">

<head th:replace="fragments/generic_fragments :: head('Veterinari - Pawpal')"></head>

<body>
    
    <div th:replace="fragments/generic_fragments :: navbar(veterinari)"></div>

    <main>
        <div class="container">
            
            <main>

                <section th:replace="fragments/veterinari_fragments :: ricerca_veterinari"></section>

                <section>
                    <h1>Lista Veterinari</h1>

                    <div class="veterinari-list">
                        <div th:each="vet : ${lista_veterinari}" class="">

                            <!-- <img th:src="@{'/img/' + ${vet.foto}}" alt="Foto di [[${vet.nome}]]"> -->
                            <h3 th:text="${vet.id}"></h3>
                            <h3 th:text="${vet.nome + ' ' + vet.cognome}"></h3>
                            <p th:text="${vet.specializzazione}"></p>
                            <p th:text="${vet.indirizzoStudio}"></p>
                            <button
                                type="button"
                                class="btn btn-secondary showCardVeterinario"
                                th:data-veterinario="${vet.id}"
                                data-bs-target="#cardVeterinarioModal"
                                data-bs-toggle="modal"
                            >
                                Visualizza Profilo
                            </button>

                            <script>

                                function caricaProfiloVeterinario(idVeterinario) {
                                    return fetch(`/veterinari/lista_veterinari/${idVeterinario}`)
                                    .then(response => {
                                        if (!response.ok) throw new Error(`Impossibile caricare il profilo del veterinario. Stato: ${response.status}`);
                                        return response.json();
                                    })
                                    .then(data => {
                                        document.getElementById('registrazioneVeterinarioLabel').textContent = data.nome + " " + data.cognome;
                                        document.getElementById('specializzazione_veterinario').value = data.specializzazione;
                                        document.getElementById('iscrizione_albo_veterinario').value = data.iscrizioneAlbo;
                                        document.getElementById('descrizione_veterinario').value = data.descrizione;
                                        document.getElementById('disponibilita_veterinario').value = data.disponibilita;
                                        document.getElementById('indirizzo_studio_veterinario').value = data.indirizzoStudio;
                                        document.getElementById('telefono_veterinario').value = data.telefono;
                                        document.getElementById('email_veterinario').value = data.email;
                                        document.getElementsByName('idVeterinario').forEach((input) => input.value = data.id);
                                        document.getElementById('recensioni-list').innerHTML = "";

                                        const listaRecensioni = document.getElementById('recensioni-list');
                                        data.recensioni.forEach((recensione) => {
                                            listaRecensioni.innerHTML += `
                                                <li class="recensione-item">
                                                    <div class="rec-header">
                                                        <span class="rec-date">${recensione.dataRecensione}</span>
                                                        <span class="rec-rating">${recensione.voto} / 5</span>
                                                    </div>
                                                    <p class="rec-text">${recensione.commento}</p>
                                                </li>
                                            `
                                        })
                                        return data;
                                    })
                                    .catch(error => {
                                        return Promise.reject(error);
                                    });
                                }

                                document.addEventListener('DOMContentLoaded', () => {

                                    injectNavigationEvents(
                                        document.getElementById("cardVeterinarioModal"),
                                        'show.bs.modal',
                                        'hidden.bs.modal',
                                        (event, element, elementId) => {
                                            // conterrà "veterinario=" se la pagina è stata ricaricata,
                                            // visto che il sistema di navigazione fa un dispatch di show.bs.modal
                                            // al caricamento del DOM
                                            const params = new URLSearchParams(window.location.search);

                                            let idVeterinario;
                                            if(params.get("veterinario")) idVeterinario = params.get("veterinario");
                                            else idVeterinario = event.relatedTarget.dataset.veterinario;

                                            if(idVeterinario) {
                                                caricaProfiloVeterinario(idVeterinario)
                                                .then((data) => {
                                                    const pathname = window.location.pathname;
                                                    // se non si ricaricano i parametri di ricerca,
                                                    // non conterranno "modal="
                                                    const params = new URLSearchParams(window.location.search);
                                                    const hash = window.location.hash;
                                                    params.set("veterinario", idVeterinario);
                                                    const separator = params.toString() ? '?' : '';
                                                    history.replaceState(null, '', `${pathname}${separator}${params}${hash}`);
                                                })
                                                .catch((error) => {
                                                    console.error("Errore: ", error);
                                                    history.replaceState(null, '', window.location.pathname);
                                                });
                                            }
                                        },
                                        (event, element, elementId) => {
                                            const pathname = window.location.pathname;
                                            const params = new URLSearchParams(window.location.search);   
                                            const hash = window.location.hash;

                                            params.delete("veterinario");
                                            const separator = params.toString() ? '?' : '';
                                            // prevents the url from being saved in browser navigation history
                                            history.replaceState(null, '', `${pathname}${separator}${params}${hash}`);
                                        }
                                    )

                                });

                            </script>

                        </div>
                    </div>

                </section>

            </main>

        </div>
    </main>

    <div th:replace="fragments/veterinari_fragments :: card_veterinario"></div>

    
    <footer th:replace="fragments/generic_fragments :: footer"></footer>

    <!-- <script th:src="@{/js/script.js}"></script> -->
    <div th:replace="fragments/generic_fragments :: show_views_scripts"></div>

</body>
</html>